<div class="p-4 md:p-6 space-y-6 max-w-[2560px] mx-auto">

    <!-- STATS -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        <app-status-card-component *ngFor="let stat of stats" [label]="stat.label" [value]="stat.value"
            [iconClass]="stat.icon" [iconColor]="stat.color" [bgColor]="stat.bg">
        </app-status-card-component>
    </div>

    <div class="space-x-6 ">
        <!-- HEADER + DROPDOWN -->
        <div class="flex flex-row items-center justify-between gap-4 w-full">
            <h1 class="text-lg md:text-xl font-bold text-slate-900">
                Recent Bookings
            </h1>

            <app-status-dropdown [activeStatus]="activeFilter" (statusChange)="handleStatusFilter($event)">
            </app-status-dropdown>
        </div>

        <!-- BOOKINGS TABLE -->
        <app-recent-booking-table [bookings]="recentBookings" [currentFilter]="activeFilter"
            (viewBooking)="onViewBooking($event)" (cancelBooking)="onCancelBooking($event)"
            (approveBooking)="onApproveBooking($event)">
        </app-recent-booking-table>
    </div>

</div>