<app-dialog-ui [label]="label" [isOpen]="isOpen" (close)="closed.emit()">

  <div body class="space-y-4">
    <ng-content></ng-content>
  </div>

  <div actions class="flex flex-col sm:flex-row gap-2 w-full sm:w-auto">
    <button (click)="closed.emit()"
      class="order-2 rounded-md border border-violet-200 px-4 py-2 text-[11px] font-semibold text-violet-700 transition hover:bg-violet-50 sm:order-1 sm:text-xs 2xl:text-xl">
      Dismiss
    </button>

    <button (click)="confirmed.emit()"
      class="order-1 rounded-lg bg-[#6B3293] px-6 py-2 text-[11px] font-bold text-white shadow-md transition-all hover:bg-[#5a2a7b] active:scale-95 sm:order-2 sm:text-xs 2xl:text-xl 4xl:text-3xl">
      {{ confirmText }}
    </button>
  </div>

</app-dialog-ui>
