<nav class="navbar">
  <div class="nav-left">
    <app-breadcrumb></app-breadcrumb>
  </div>

  <div class="nav-right">
    <div class="actions">
      <div class="icon-wrapper">
        <app-icon-chat [size]="20" class="icon"></app-icon-chat>
      </div>
      <div class="icon-wrapper">
        <app-icon-bell [size]="20" class="icon"></app-icon-bell>
      </div>
    </div>

    <div class="user-profile">
      <div class="avatar">
        <span>K</span>
      </div>
    </div>
  </div>
</nav>